<div class="container">
  <div class="row">
<div class="col-xs-4"><%= image_tag 'home_ima.jpg', size: "200x200"%><p>いま</p></div>
<div class="col-xs-4"><%= image_tag 'home_sense.jpg', size: "200x200"%><p>せんす</p></div>
<div class="col-xs-4"><%= image_tag 'home_mirai.jpg', size: "200x200"%><p>みらい</p></div>
  </div>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3">社会課題解決アプリ「sense」とは...</h3>
    <p class="lead">政治でも、一企業の利益のためでもなく、一般市民の力の結集によって、
      <br>
      「日本のいま」を「素敵なみらい」に変えていくアプリ
</p>
  </div>
</div>
